/* ჰედერის დასაწყისი */
.flex_container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 160px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.head_ul {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.head_li {
    font-family: 'Ubuntu';
    font-size: 24px;
    color: #27187F
}

.head_links {
    color: #758BFD;
}

.link_menu1 {
    color: #27187F;
}

.search_box {
    border: 2px solid #27187F;
    border-radius: 10px;
    width: 220px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content
}

.lupa {
    font-size: 40px;
    color: #758BFD;
}

/* ჰედერის დასასრული */

/* სექციის დასაწყისი */

section {
    background-color: #DDEAF8;
    display: flex;
    height: 1051px;
    align-items: center;

}

h1 {
    width: 100%;
    font-family: 'Ubuntu';
    font-size: 32px;
    color: #27187F;

}

.cards {
    width: 90%;
    height: 822px;
    margin:  0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: baseline;
}

.card {
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    height: 333px;
    background-color: white;
    display:grid;
    justify-content: baseline;
    align-content: baseline;
}

.card_img {
    margin: 0 auto;
    width: 80%%;
    height: 188px;
}

.card_text {
    width: 80%;

}